/////////////////////////////////////////////////////
// COLOR VARIABLES
$gold: #b68f40
$grey-main-100: rgba(30,30,30,1)
$grey-main-75: rgba(0,0,0,.75)
$grey-main-50: rgba(0,0,0,.5)
$grey-main-25: rgba(0,0,0,.25)

/////////////////////////////////////////////////////
// FONTS
    // carisma
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-300Light.ttf")
        font-weight: 300
        font-style: normal
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-300LightObl.ttf")
        font-weight: 300
        font-style: italic
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-400Regular.ttf")
        font-weight: 400
        font-style: normal
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-400RegularObl.ttf")
        font-weight: 400
        font-style: italic
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-500Medium.ttf")
        font-weight: 500
        font-style: normal
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-500MediumObl.ttf")
        font-weight: 500
        font-style: italic
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-600DemiBold.ttf")
        font-weight: 600
        font-style: normal
    @font-face 
        font-family: 'carisma'
        src: url("fonts/carisma/CarismaGothic-600DemiBoldObl.ttf")
        font-weight: 600
        font-style: italic

    // infra
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-Light.ttf")
        font-weight: 300
        font-style: normal
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-LightItalic.ttf")
        font-weight: 300
        font-style: italic
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-Medium.ttf")
        font-weight: 400
        font-style: normal
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-MediumItalic.ttf")
        font-weight: 400
        font-style: italic
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-Regular.ttf")
        font-weight: 500
        font-style: normal
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-RegularItalic.ttf")
        font-weight: 500
        font-style: italic
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-SemiBold.ttf")
        font-weight: 600
        font-style: normal
    @font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-SemiBoldItalic.ttf")
        font-weight: 600
        font-style: italic

/////////////////////////////////////////////////////    
// UTILITY

%flex
    display: flex

%flex-v
    @extend %flex
    flex-direction: column

%fullWidth
    width:100%

%fitWidth
    width: fit-content

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body  
    background-color: $grey-main-100

// CLASSES

header
    @extend %fullWidth