/////////////////////////////////////////////////////
// COLOR VARIABLES
$gold: #b68f40
$gold-light: #eac57b
$gold-dark: #6A5425
$grey-main-100: rgba(30,30,30,1)
$grey-main-10: rgba(30,30,30,.1)
$grey-main-0: rgba(30,30,30,0)
$grey-acc-100: rgba(42,42,42,1)
$grey-acc2-100:#555555


/////////////////////////////////////////////////////
// FONTS
// libre-baskerville
@font-face 
    font-family: 'bask'
    src: url("fonts/libre-baskerville/LibreBaskerville-Regular.ttf")
    font-weight: 500
    font-style: normal
@font-face 
    font-family: 'bask'
    src: url("fonts/libre-baskerville/LibreBaskerville-Italic.ttf")
    font-weight: 500
    font-style: italic
@font-face 
    font-family: 'bask'
    src: url("fonts/libre-baskerville/LibreBaskerville-Bold.ttf")
    font-weight: 600
    font-style: normal



// infra
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-Light.ttf")
    font-weight: 300
    font-style: normal
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-LightItalic.ttf")
    font-weight: 300
    font-style: italic
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-Medium.ttf")
    font-weight: 400
    font-style: normal
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-MediumItalic.ttf")
    font-weight: 400
    font-style: italic
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-Regular.ttf")
    font-weight: 500
    font-style: normal
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-RegularItalic.ttf")
    font-weight: 500
    font-style: italic
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-SemiBold.ttf")
    font-weight: 600
    font-style: normal
@font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-SemiBoldItalic.ttf")
        font-weight: 600
        font-style: italic

/////////////////////////////////////////////////////    
// UTILITY
%flex
    display: flex

%flex-v
    @extend %flex
    flex-direction: column

%center
    justify-content: center
    align-items: center

%topCenter
    justify-content: center
    align-items: flex-start

%gap-5
    gap: .5rem
%gap1
    gap: 1rem
%gap2
    gap: 2rem
%gap3
    gap: 3rem
%gap4
    gap: 4rem

%fullWidth
    width: 100%

%fitWidth
    width: fit-content

%fullHeight
    height: 100%

%fitHeight
    height: fit-content

%maxWidth
    max-width: 1600px

%trans
    transition: all .3s


.flex
    @extend %flex
.flex-v
    @extend %flex-v
.center
    @extend %center

.gap-5
    gap: .5rem
.gap1
    gap: 1rem
.gap2
    gap: 2rem
.gap3
    gap: 3rem
.gap4
    gap: 4rem


.font2
    font-family: bask

// ELEMENTS

*
    margin: 0
    padding: 0
    box-sizing: border-box
    color: white
    font-family: infra
    font-weight: 300

html, body  
    background-color: $grey-main-100

h1
    font-size: 3.5rem

h2  
    font-size: 2.5rem

strong
    *
        font-weight: bold

header
    @extend %fullWidth, %flex-v, %center
    padding: 10px 10% 10px 10%
    position: fixed
    top: 0
    z-index: 99999
    background-color: $grey-main-100


nav 
    @extend %fullWidth, %fitHeight, %flex, %maxWidth, %center
    justify-content: space-between

    a
        height: 70px
        svg
            path
                @extend %trans

        &:hover
            svg
                path
                    fill: $gold

    ul  
        @extend %flex, %center, %gap2, %fitHeight
        list-style-type: none

        a
            @extend %trans
            padding: 1rem
            font-size: 1.1rem
            text-decoration: none
            border: 1px solid transparent
            border-radius: 8px 

            &:hover
                background-color: $grey-acc-100
                border-color: white

button
    @extend %fitHeight, %trans, %flex, %center, %gap-5
    padding: .5rem .75rem
    font-size: 1.1rem
    border: 1px solid white
    border-radius: .35rem
    cursor: pointer
    font-weight: 600

    &.btn-main
        background-color: white
        color: black

    &.btn-alt
        background-color: transparent
        color: $gold-light
        border-color: $gold-light

    svg
        path
            @extend %trans

    &:hover
        background-color: $gold-light
        border-color: $gold
        color: $grey-main-100

        svg
            path
                fill: $grey-main-100

main
    margin: 100px 0 0 0

section 
    @extend %flex-v
    padding: 5% 10%
    font-size: clamp(18px, 1rem, 24px)

    &#hero
        background-image: url(assets/interior-transformed.webp)
        background-position: 0% 0%
        background-size: cover
        background-repeat: no-repeat

    &#why-us
        @extend %flex, %gap3
        position: relative
        height: 100px
        &::before
            position: absolute
            top: -40px
            left: 0
            content: ''
            width: 100%
            height: 40px
            background-size: 100% 100%
            background-position: 0px 0px
            background-image: linear-gradient(180deg, $grey-main-0 0%, $grey-main-10 25%, $grey-main-100 100%)


// classes

.hero-content-wrap
    @extend %fullWidth
    display: grid
    grid-template-columns: 45% 40%
    grid-template-rows: auto
    gap: 15%
    padding: 5%
    border-radius: 1rem

    background: rgba(0, 0, 0, 0.655)
    backdrop-filter: blur(25px)

    .hero-img-wrap
        img
            width: 100%
            transform: rotateY(180deg)

.card-wrap
    @extend %gap2
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto

.card
    @extend %flex-v, %gap2, %trans
    padding: 1.5rem
    border: 1px solid $grey-acc2-100
    border-radius: 1rem

    &:hover
        box-shadow: 0px 0px 10px 5px $grey-acc2-100

    h3
        font-size: 2rem
        font-weight: 600
        letter-spacing: .5px
        width: fit-content

    .card-icon
        width: 52px
        height: 70px

        &#icon-handshake
            width: 80px
            height: 70px

@media screen and (max-width: 1024)
@media screen and (max-width: 500px)