/////////////////////////////////////////////////////
// COLOR VARIABLES
$gold: #b68f40
$grey-main-100: rgba(30,30,30,1)
$grey-main-75: rgba(0,0,0,.75)
$grey-main-50: rgba(0,0,0,.5)
$grey-main-25: rgba(0,0,0,.25)

/////////////////////////////////////////////////////
// FONTS
// libre-baskerville
@font-face 
    font-family: 'bask'
    src: url("fonts/libre-baskerville/LibreBaskerville-Regular.ttf")
    font-weight: 500
    font-style: normal
@font-face 
    font-family: 'bask'
    src: url("fonts/libre-baskerville/LibreBaskerville-Italic.ttf")
    font-weight: 500
    font-style: italic
@font-face 
    font-family: 'bask'
    src: url("fonts/libre-baskerville/LibreBaskerville-Bold.ttf")
    font-weight: 600
    font-style: normal



// infra
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-Light.ttf")
    font-weight: 300
    font-style: normal
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-LightItalic.ttf")
    font-weight: 300
    font-style: italic
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-Medium.ttf")
    font-weight: 400
    font-style: normal
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-MediumItalic.ttf")
    font-weight: 400
    font-style: italic
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-Regular.ttf")
    font-weight: 500
    font-style: normal
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-RegularItalic.ttf")
    font-weight: 500
    font-style: italic
@font-face 
    font-family: 'infra'
    src: url("fonts/infra/Infra-SemiBold.ttf")
    font-weight: 600
    font-style: normal
@font-face 
        font-family: 'infra'
        src: url("fonts/infra/Infra-SemiBoldItalic.ttf")
        font-weight: 600
        font-style: italic

/////////////////////////////////////////////////////    
// UTILITY
%flex
    display: flex

%flex-v
    @extend %flex
    flex-direction: column

%center
    justify-content: center
    align-items: center

%topCenter
    justify-content: center
    align-items: flex-start

%gap-5
    gap: .5rem
%gap1
    gap: 1rem
%gap2
    gap: 2rem

%fullWidth
    width: 100%

%fitWidth
    width: fit-content

%fullHeight
    height: 100%

%fitHeight
    height: fit-content

%maxWidth
    max-width: 1600px

%trans
    transition: all .3s

// layout
.flex
    @extend %flex
.flex-v
    @extend %flex-v
.center
    @extend %center

.gap-5
    gap: .5rem
.gap1
    gap: 1rem
.gap2
    gap: 2rem

// font
.font2
    font-family: bask

// ELEMENTS

*
    margin: 0
    padding: 0
    box-sizing: border-box
    color: white
    font-family: infra
    font-weight: 300

html, body  
    background-color: $grey-main-100



header
    @extend %fullWidth, %flex, %center
    padding: 20px 10%

nav 
    @extend %fullWidth, %flex, %maxWidth, %center
    justify-content: space-between

    a
        svg
            path
                @extend %trans

        &:hover
            svg
                path
                    fill: $gold

    ul  
        @extend %flex, %center, %gap2, %fitHeight
        list-style-type: none

        a
            @extend %trans

            // text-decoration: none  
            padding: .5rem
            font-size: 1.1rem

            &:hover
                color: $gold

section 
    @extend %maxWidth, %flex
    padding: 0 10%

button
    @extend %fitHeight, %trans
    padding: .5rem .75rem
    font-size: 1.1rem
    border: 1px solid white
    border-radius: .35rem
    cursor: pointer

    &.btn-main
        background-color: $gold
    &.btn-alt
        background-color: transparent

    &:hover
        background-color: white
        color: $grey-main-100


@media screen and (max-width: 1024)
@media screen and (max-width: 500px)